body {
  background-color: green;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.headerContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(http://abcgomel.ru/solana/images/sliders/slider-1/slider-bg-1.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: #efefef;
}

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1100px;
  margin: 40px 0px;
}

header .firstHeaderPart {
  background-color: #414146;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .firstHeaderPart * {
  margin: 0px;
  color: white;
}

header .firstHeaderPart nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.headerLabel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.headerLabel p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerSearchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 150px;
  background-color: #565a60;
  height: 70px;
}

.headerSearchForm * {
  -ms-flex-negative: 0.1;
      flex-shrink: 0.1;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 25px;
}

.headerSearchForm input {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: 100%;
}

.headerSearchForm button {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  text-align: right;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerNavigationLinksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.headerNavigationLinksContainer div {
  margin: 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerNavigationLinksContainer div a {
  font-size: 25px;
  text-decoration: none;
}

.headerNavigationLinksContainer div:hover {
  background-color: yellow;
}

.headerNavigationLinksContainer div:hover a {
  color: black;
}

.secondHeaderPart {
  height: 500px;
}

.thirdHeaderPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thirdHeaderPartCell {
  width: 25%;
  height: 252px;
  background-color: yellow;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.infoDiv {
  margin: 0px;
  margin: 20px 20px 30px 20px;
  border-bottom: 5px solid #efefef;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.firstHeaderCellButtonsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
  font-size: 14px;
}

.firstHeaderCellButtonsDiv * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstThirdHeaderPartCell {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: white;
}

.thirdThirdHeaderPartCell {
  background-color: #cccc00;
}

.fourthThirdHeaderPartCell {
  background-color: #999900;
}

.notFirstThirdHeaderPartCells {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.notFirstThirdHeaderPartCells:hover {
  background-color: white;
}

.notFirstThirdHeaderPartCells div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstDivInThirdHeaderPartDiv {
  height: 60%;
}

.secondDivInThirdHeaderPartDiv {
  height: 20%;
}

.thirdDivInThirdHeaderPartDiv {
  height: 20%;
  font-size: 12px;
}

.readMoreButton {
  background-color: darkgray;
  padding: 10px 20px;
}

.readMoreButton:hover {
  background-color: yellow;
}

.arrowButton {
  background-color: yellow;
  padding: 10px 10px;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.mainOne {
  width: 100%;
  background-color: #414146;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainOne > div {
  width: 1100px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.mainOne > div div {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainOne > div div * {
  margin: 0px;
  padding: 0px;
}

.mainOne > div div:first-of-type {
  width: 91px;
  height: 91px;
  background-color: yellow;
}

.mainOne > div div:nth-of-type(3) {
  width: 180px;
  height: 91px;
  background-color: yellow;
}

.mainOne > div div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.mainOne > div div:nth-of-type(2) * {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.mainOne > div div:nth-of-type(2) h2 {
  font-weight: normal;
  display: inline;
}

.mainOne > div div:nth-of-type(2) h2 span {
  display: inline;
  font-weight: bold;
}

.mainOne > div div:nth-of-type(2) p {
  font-size: 12px;
}

.secondMainNavigationButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.secondMainNavigationButtons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainTwo {
  margin: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.mainTwo > div {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mainTwoListOfCells {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 75%;
}

.navigationOfList {
  height: 200px;
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.navigationOfList div:first-of-type {
  border-bottom: 5px solid #efefef;
  padding: 5px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.navigationOfList div:first-of-type span {
  font-weight: bold;
}

.navigationOfList div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigationOfList div:nth-of-type(2) a {
  background-color: #b8bcc1;
  height: 40px;
  width: 40px;
  margin-top: -5px;
  color: white;
}

.navigationOfList div:nth-of-type(2) a:hover {
  background-color: yellow;
}

.mainTwoListCell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: 300px;
  margin-bottom: 10px;
}

.mainTwoListCell * {
  margin: 0px;
  padding: 0px;
}

.mainTwoListCell div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-position: center;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainTwoListCell div div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  opacity: 0.5;
}

.mainTwoListCell div div:hover {
  background-color: yellow;
}

.mainTwoListCell h2 {
  font-size: 16px;
  font-weight: normal;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-bottom: 10px;
  border-bottom: 5px solid #9e9e9e;
  z-index: 2;
}

.mainTwoListCell h2 span {
  font-weight: bold;
}

.mainTwoListCell p {
  margin-top: -5px;
  z-index: 1;
  border-top: 5px solid #efefef;
  font-size: 12px;
}

@media all and (max-width: 1059px) {
  header {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 900px;
  }
  .mainOne > div {
    width: 900px;
  }
  .mainTwo > div {
    width: 900px;
  }
}

@media all and (max-width: 800px) {
  header {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 420px;
  }
  .firstHeaderPart nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .headerSearchForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 100%;
    background-color: #565a60;
  }
  .headerSearchForm * {
    -ms-flex-negative: 0.1;
        flex-shrink: 0.1;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 25px;
  }
  .headerSearchForm input {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    width: 100%;
  }
  .headerSearchForm button {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    text-align: right;
    vertical-align: middle;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headerNavigationLinksContainer {
    width: 100%;
    height: 30px;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    background-color: white;
  }
  .secondHeaderPart {
    height: 300px;
  }
  .thirdHeaderPart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .thirdHeaderPartCell {
    height: 234px;
    width: 100%;
  }
  .mainOne > div {
    width: 420px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainOne > div div:nth-of-type(3) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .mainTwo div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 420px;
  }
  .mainTwo div div {
    width: 100%;
  }
  .mainTwoListOfCells {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainTwoListCell {
    width: 100%;
  }
}

@media all and (max-width: 435px) {
  header {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 200px;
  }
  .firstHeaderPart nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .headerNavigationLinksContainer {
    width: 100%;
    height: 30px;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    background-color: white;
  }
  .headerNavigationLinksContainer a {
    visibility: hidden;
  }
  .secondHeaderPart {
    height: 150px;
  }
  .thirdHeaderPartCell {
    height: 234px;
  }
  .mainOne > div {
    width: 200px;
  }
  .mainTwo > div {
    width: 200px;
  }
}
/*# sourceMappingURL=style.css.map */