@import "variables";
@import "mixins";

body {
  background-color: green;
  font-size: $basicFontSize;
  margin: 0px;
  padding: 0px;
  @include content-center();
}

.container {
  @include locate-in-flexbox(center, center);
  flex-direction: column;
}

header {
  @include headerStyles();
  width: $lg-contentWidth;
  .firstHeaderPart {
    * {
      margin: 0px;
    }
    background-color: $darkenGreyColor;
    @include locate-in-flexbox(center, center);
    nav {
      @include locate-in-flexbox(center, stretch);
      flex-grow: 1;
    }
  }
}


//first header part
.headerLabel {
  flex-grow: 1;
  height: $heightInHeaderNavigation;
  @include locate-in-flexbox(flex-start, stretch);
  p {
    @include content-center();
  }
}

.headerSearchForm {
  @include headerSearchFormMixin($no-sm-searchFormWidth);
  height: $heightInHeaderNavigation;
}

.headerNavigationLinksContainer {
  @include content-center();
  div {
    margin: 0px 5px;
    a {
      @include content-center();
      font-size: $searchFormFontSize;
    }
  }
}



//second header part

.secondHeaderPart {
  height: $md-lg-secondHeaderPartHeight;
  background-color: chartreuse;
}



//medias-------------------
@media all and (max-width: 960px) {
  header {
    @include headerStyles();
    width: $md-contentWidth;
  }
}

@media all and (max-width: 723px) {
  header {
    @include headerStyles();
    width: $sm-contentWidth;
  }

  .firstHeaderPart {
    nav {
      flex-direction: column;
      width: 100%;
    }
  }

  .headerSearchForm {
    @include headerSearchFormMixin($sm-searchFormWidth);
  }

  .headerNavigationLinksContainer {
    width: 100%;
    height: 30px;
    flex-shrink: 1;
    background-color: white;
  }

  .secondHeaderPart {
    height: $sm-secondHeaderPartHeight;
  }
}


@media all and (max-width: 435px) {
  
  header {
    @include headerStyles();
    width: $xs-contentWidth;
  }

  .firstHeaderPart nav {
    flex-direction: column;
    flex-shrink: 1;
  }

  .headerNavigationLinksContainer {
    width: 100%;
    height: 30px;
    flex-shrink: 1;
    background-color: white;
    a {
      visibility: hidden;
    }
  }

  .secondHeaderPart {
    height: $xs-secondHeaderPartHeight;
  }

  
  
}