@import "variables";
@import "mixins";

body {
  background-color: green;
  font-size: $basicFontSize;
  margin: 0px;
  padding: 0px;
  @include content-center();
}

.container {
  @include locate-in-flexbox(center, center);
  flex-direction: column;
  width: 100%;
}

.headerContainer {
  width: 100%;
  @include content-center();
  background-image: url(http://abcgomel.ru/solana/images/sliders/slider-1/slider-bg-1.jpg);
  background-repeat: no-repeat;
  background-position-x: center;

  background-color: rgb(239, 239, 239);
  //background-size: 100%;
}
header {
  @include headerStyles();
  width: $lg-contentWidth;
  margin: 40px 0px;
  .firstHeaderPart {
    * {
      margin: 0px;
      color: white;
    }
    background-color: $darkenGreyColor;
    @include locate-in-flexbox(center, center);
    nav {
      @include locate-in-flexbox(center, stretch);
      flex-grow: 1;
    }
  }
}

//first header part
.headerLabel {
  flex-grow: 1;
  height: $heightInHeaderNavigation;
  @include locate-in-flexbox(flex-start, stretch);
  p {
    @include content-center();
  }
}

.headerSearchForm {
  @include headerSearchFormMixin($no-sm-searchFormWidth);
  height: $heightInHeaderNavigation;
}

.headerNavigationLinksContainer {
  @include locate-in-flexbox(center, stretch);
  div {
    margin: 0px 5px;
    @include content-center();
    a {
      font-size: $searchFormFontSize;

      text-decoration: none;
    }
  }

  div {
    &:hover {
      background-color: $lightYellowColor;
      //@include content-center();
      a {
        color: black;
      }
    }
  }
}

//second header part

.secondHeaderPart {
  height: $md-lg-secondHeaderPartHeight;
}

//third header part

.thirdHeaderPart {
  @include content-center();
}

.thirdHeaderPartCell {
  width: 25%;
  height: $lg-xs-md-thirdHeaderCellHeight;
  background-color: $lightYellowColor;
  box-sizing: border-box;
  font-size: $infoCellFontSize;
  @include locate-in-flexbox(center, stretch);
  flex-direction: column;
  margin-bottom: 10px;
}

.infoDiv {
  margin: 0px;
  margin: 20px 20px 30px 20px;
  border-bottom: $borderOfInfo;
  flex-grow: 1;
}

.firstHeaderCellButtonsDiv {
  @include locate-in-flexbox(flex-end, stretch);
  height: 100%;
  font-size: $headerCellItemButtonsFontsize;
  * {
    @include content-center();
  }
}

.firstThirdHeaderPartCell {
  flex-grow: 1;
  background-color: white;
  //margin: 20px 0px 0px 0px;
}

.thirdThirdHeaderPartCell {
  background-color: $normalYellowColor;
}

.fourthThirdHeaderPartCell {
  background-color: $darkYellowColor;
}

.notFirstThirdHeaderPartCells {
  @include locate-in-flexbox(center, stretch);
  flex-direction: column;
  &:hover {
    background-color: white;
  }

  div {
    @include content-center();
  }
}

.firstDivInThirdHeaderPartDiv {
  height: 60%;
}

.secondDivInThirdHeaderPartDiv {
  height: 20%;
}

.thirdDivInThirdHeaderPartDiv {
  height: 20%;
  font-size: $thirdDivFontSizeInThirdheaderPartDiv;
}

.readMoreButton {
  background-color: darkgray;
  padding: 10px 20px;
  &:hover {
    background-color: $lightYellowColor;
  }
}

.arrowButton {
  background-color: $lightYellowColor;
  padding: 10px 10px;
}

//main-------------------------------

main {
  width: 100%;
  @include locate-in-flexbox(center, stretch);
  flex-direction: column;
  background-color: white;
}

.mainOne {
  width: 100%;
  background-color: $darkenGreyColor;
  @include content-center();
  > div {
    width: $lg-contentWidth;
    background-color: transparent;
    @include locate-in-flexbox(center, stretch);
    div {
      font-size: $mainPartDivTextFontsize;
      @include content-center();
      * {
        margin: 0px;
        padding: 0px;
      }
    }
    div:first-of-type {
      width: 91px;
      height: 91px;
      background-color: $lightYellowColor;
    }
    div:nth-of-type(3) {
      width: 180px;
      height: 91px;
      background-color: $lightYellowColor;
    }
    div:nth-of-type(2) {
      @include locate-in-flexbox(center, stretch);
      flex-direction: column;
      flex-grow: 2;
      * {
        text-align: left;
        @include locate-in-flexbox(flex-start, stretch);
      }
      h2 {
        font-weight: normal;
        display: inline;
        span {
          display: inline;
          font-weight: bold;
        }
      }
      p {
        font-size: $mainPartSmallerTextFontsize;
      }
    }
  }
}

.secondMainNavigationButtons {
  @include locate-in-flexbox(flex-end, flex-start);
  a {
    @include content-center();
  }
}

.mainTwo {
  margin: 50px 0px;
  @include locate-in-flexbox(center, stretch);
  > div {
    width: $lg-contentWidth;
    @include locate-in-flexbox(space-between, flex-start);
  }
}

.mainTwoListOfCells {
  @include locate-in-flexbox(space-between, flex-start);
  width: 75%;
}

.navigationOfList {
  height: 200px;
  width: 220px;
  @include locate-in-flexbox(center, stretch);
  flex-direction: column;
  text-align: left;
  div:first-of-type {
    border-bottom: $borderOfInfo;
    padding: 5px;
    font-size: $infoCellFontSize;
    @include locate-in-flexbox(center, stretch);
    flex-grow: 1;
    span {
      font-weight: bold;
    }
  }

  div:nth-of-type(2) {
    @include locate-in-flexbox(flex-end, stretch);
    flex-direction: row;
    a {
      background-color: $lightGreyColor;
      height: 40px;
      width: 40px;
      margin-top: -5px;

      color: white;
      &:hover {
        background-color: $lightYellowColor;
      }
    }
  }
}

.mainTwoListCell {
  @include locate-in-flexbox(center, stretch);
  flex-direction: column;
  width: 30%;
  height: 300px;
  margin-bottom: 10px;
  * {
    margin: 0px;
    padding: 0px;
  }
  div {
    flex-grow: 1;

    background-position: center;
    background-size: 100% 100%;
    display: flex;
    div {
      flex-grow: 1;
      &:hover {
        background-color: yellow;
      }
      opacity: 0.5;
    }
  }

  h2 {
    font-size: $mainTwoCellHeaderFontsize;
    font-weight: normal;
    align-self: flex-start;
    padding-bottom: 10px;
    border-bottom: $darderBorderOfInfo;
    span {
      font-weight: bold;
    }
    //margin-bottom: -5px;
    z-index: 2;
  }
  p {
    margin-top: -5px;
    z-index: 1;
    border-top: $borderOfInfo;
    font-size: $thirdDivFontSizeInThirdheaderPartDiv;
  }
}

.mainThree {
  @include locate-in-flexbox(center, stretch);
  background-color: $borderColor;
  color: black;
  > div {
    width: $lg-contentWidth;
    @include locate-in-flexbox(center, stretch);
    div:nth-of-type(1) {
      width:50%;
      img{
        width: 100%;
      }
    }
    div:nth-of-type(2) {
      width: 20%;
      @include locate-in-flexbox(center, stretch);
      flex-direction: column;
      *{
        margin: 0px;
        font-size: $thirdDivFontSizeInThirdheaderPartDiv;
      }
      h2{
        border-bottom: 5px solid white;
        font-size: $mainThreeHeaderFontsize;
      }

      p {
        font-size: $mainThreeHeaderFontsize;
      }
    }
    div:nth-of-type(3){
      width:30%;
      li {
        font-size: $thirdDivFontSizeInThirdheaderPartDiv;
      }
    }
  }
}
//medias-------------------
@media all and (max-width: 1059px) {
  header {
    @include headerStyles();
    width: $md-contentWidth;
  }

  .mainOne > div {
    width: $md-contentWidth;
  }

  .mainTwo {
    > div {
      width: $md-contentWidth;
    }
  }

  .mainThree {
    >div {
      width: $md-contentWidth;
    }
  }
}

@media all and (max-width: 800px) {
  header {
    @include headerStyles();
    width: $sm-contentWidth;
  }

  .firstHeaderPart {
    nav {
      flex-direction: column;
      width: 100%;
    }
  }

  .headerSearchForm {
    @include headerSearchFormMixin($sm-searchFormWidth);
  }

  .headerNavigationLinksContainer {
    width: 100%;
    height: 30px;
    flex-shrink: 1;
    background-color: white;
  }

  .secondHeaderPart {
    height: $sm-secondHeaderPartHeight;
  }

  .thirdHeaderPart {
    flex-direction: column;
  }
  .thirdHeaderPartCell {
    height: $sm-thirdHeaderCellHeight;
    width: 100%;
  }
  .mainOne > div {
    width: $sm-contentWidth;
    flex-direction: column;
    div:nth-of-type(3) {
      align-self: flex-end;
    }
  }

  .mainTwo {
    div {
      flex-direction: column;
      @include locate-in-flexbox(center, center);
      width: $sm-contentWidth;
      div {
        width: 100%;
      }
    }
  }
  .mainTwoListOfCells {
    width: 100%;
    align-items: center;
  }

  .mainTwoListCell {
    width: 100%;
  }

  .mainThree {
    >div {
      width: $sm-contentWidth;
      flex-direction: column;
      div:nth-of-type(1),  div:nth-of-type(2), div:nth-of-type(3){
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 435px) {
  header {
    @include headerStyles();
    width: $xs-contentWidth;
  }

  .firstHeaderPart nav {
    flex-direction: column;
    flex-shrink: 1;
  }

  .headerNavigationLinksContainer {
    width: 100%;
    height: 30px;
    flex-shrink: 1;
    background-color: white;
    a {
      visibility: hidden;
    }
  }

  .secondHeaderPart {
    height: $xs-secondHeaderPartHeight;
  }

  .thirdHeaderPartCell {
    height: $sm-thirdHeaderCellHeight;
  }

  .mainOne > div {
    width: $xs-contentWidth;
  }

  .mainTwo > div {
    width: $xs-contentWidth;
  }

  .mainThree > div {
    width: $xs-contentWidth;
    i {
      font-size: 12px;
    }
  }
}
