$color1: hsla(0,0,20,1);
$color2: hsla(0,0,50,1);
$basicFontSize: 30px;

$searchFormFontSize: 25px;

$infoCellFontSize: 24px;

$lg-contentWidth:1100px;

$md-contentWidth:900px;

$sm-contentWidth: 420px;

$xs-contentWidth: 200px;

$no-sm-searchFormWidth: 150px;

$sm-searchFormWidth: 100%;

$darkenGreyColor: #414146;

$normalGreyColor: #565a60;

$lightGreyColor: rgb(184, 188, 193);

$heightInHeaderNavigation: 70px;


$md-lg-secondHeaderPartHeight: 500px;

$sm-secondHeaderPartHeight: 300px;

$xs-secondHeaderPartHeight: 150px;

$lg-xs-md-thirdHeaderCellHeight: 252px;

$sm-thirdHeaderCellHeight: 234px;


$headerCellItemButtonsFontsize: 14px;

$thirdDivFontSizeInThirdheaderPartDiv: 12px;

$mainTwoCellHeaderFontsize: 16px;

$lightYellowColor: hsl(60, 100%, 50%);
$normalYellowColor: hsl(60, 100%, 40%);
$darkYellowColor: hsl(60, 100%, 30%);


$mainPartDivTextFontsize:20px;
$mainPartSmallerTextFontsize: 12px;

$borderColor: rgb(239, 239, 239);

$darderborderColor: #9e9e9e;

$borderOfInfo: 5px solid $borderColor;

$darderBorderOfInfo: 5px solid $darderborderColor;

$mainThreeHeaderFontsize: 30px;