$color1: hsla(0,0,20,1);
$color2: hsla(0,0,50,1);
$basicFontSize: 30px;

$searchFormFontSize: 25px;

$contentWidth:960px;

$md-contentWidth:700px;

$darkenGreyColor: #414146;

$normalGreyColor: #565a60;