$color1: hsla(0,0,20,1);
$color2: hsla(0,0,50,1);
$basicFontSize: 30px;

$searchFormFontSize: 25px;

$lg-contentWidth:960px;

$md-contentWidth:700px;

$sm-contentWidth: 420px;

$xs-contentWidth: 300px;

$no-sm-searchFormWidth: 150px;

$sm-searchFormWidth: 100%;

$darkenGreyColor: #414146;

$normalGreyColor: #565a60;

$heightInHeaderNavigation: 70px;


$md-lg-secondHeaderPartHeight: 500px;

$sm-secondHeaderPartHeight: 300px;

$xs-secondHeaderPartHeight: 150px;